<div class="sm:flex">
    <div class="w-full h-60 sm:flex-none sm:w-48 relative">
      <img src="../../../assets/img/Angular.png" alt="" class="absolute inset-0 w-full h-full object-cover" loading="lazy" />
    </div>
    <form class="flex-auto p-6">
      <div class="flex flex-wrap border-b border-slate-200" >
            <h1 class="flex-auto text-lg font-semibold text-slate-900 uppercase">
            {{producto.nombre}}
            </h1>
            <div class="text-lg font-semibold text-slate-500">
            $ {{producto.precio}}
            </div>
        </div>
        <p class="text-sm text-slate-700">
            Free shipping on all continental US orders.
        </p>
    </form>
</div>